<body>
    <mat-toolbar color="accent">
        <img src="/assets/logo1.png" alt="" style="height: 50px">
        <span><a mat-icon-button routerLink="/" style="text-decoration: none;">Notes Application</a></span>
        <span class="example-spacer"></span>
        <!-- <button mat-mini-fab routerLink="/">Back</button> -->
        <!-- <button mat-icon-button routerLink="/"><mat-icon>home</mat-icon></button> -->
        <button mat-raised-button routerLink="/user-login"><mat-icon>logout</mat-icon>Login</button>&nbsp;
        <button mat-raised-button routerLink="/user-signup"><mat-icon>person_add</mat-icon>Signup</button>
    
    </mat-toolbar>
      
    <div class="background-image">
        <div style="margin-top: 14%; margin-left: 40%;text-align: center;">
            <h1>Note APP - Save Notes</h1>
            <hr>
            <p style="margin-left: 3%;" class="text-center">Start Collecting your Notes in a smarter way. <br>With our Note App, you can easily organize your thoughts, ideas,<br> and to-do lists, ensuring you never forget important information.<br> Whether it's for work, school, or personal use, our app provides an<br> intuitive and efficient way of handling your notes. <br>Stay organized, increase productivity, and streamline  <br>your note-taking process with Note APP.</p>
        </div>
    </div>

    
</body>
